/* General Settings */
:root {
    --color-white: #E7ECEF;
    --color-dark: #274C77;
    --color-medium: #6096BA;
    --color-highlight: #A3CEF1;
    --color-gray: #8B8C89; 
  }

* {
    padding: 2px;
    margin: 20px;
    
}

/* Settings for the header */

header {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100px;
    padding: 10px;
}

header h1 {
    display: inline-block;
    color: var(--color-dark);
    font-size: 40px;
}

header ul {
    list-style-type: none;
}

header li {
    display: inline-block;
}

#professional-links {
    float: right;
    text-decoration: none;
}

#professional-links a {
    text-decoration: none;
    color: var(--color-dark);
}

/* Settings for the navigation bar */
nav {
    background-color: var(--color-medium);
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav li {
    display: inline-block;
    padding: 5px;
}

nav li:hover{
    background-color: var(--color-highlight);
}

nav a{
    text-decoration: none;
    font-size: 30px;
    color: var(--color-white);
}


/* Body content General Settings */

body{
    background-color: var(--color-white);
    padding: 20px;
}

section{
    padding: 10px;
    background-color: var(--color-medium);
}
