/* General Settings */
:root {
    --color-main: #E7ECEF;
    --color-accent1: #274C77;
    --color-accent2: #6096BA;
    --color-accent3: #A3CEF1;
    --color-accent4: #8B8C89; 
  }

* {
    padding: 2px;
    margin: 20px;
    
}

/* Settings for the header */

header {
    background-color: var(--color-main);
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100px;
    padding: 10px;
}

header h1 {
    display: inline-block;
    color:white;
    font-size: 40px;
}

header ul {
    list-style-type: none;
}

header li {
    display: inline-block;
    background-color: ;
}

#professional-links {
    float: right;
    text-decoration: none;
}

#professional-links a {
    text-decoration: none;
    color: white;
}

li:hover {
    text-decoration: none;
    background-color: lightblue;
}


/* Settings for the navigation bar */
nav {
    background-color: bisque;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav li {
    display: inline-block;
    background-color: olivedrab;
    padding: 5px;
}

nav a{
    text-decoration: none;
    font-size: 30px;
    color: white;
}

/* Body content General Settings */

body{
    background-color: darkolivegreen;
    padding: 20px;
}

section{
    padding: 10px;
    background-color: rgb(117, 117, 82);
}
